* {
	font-family: 'Slabo 27px', serif;
	font-size: 17px;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}
body {
    margin: 0 0 190px; /* bottom = footer height */
    padding: 0;
}
a {
	text-decoration: none;
	color: #333;
}

#logo {
	font-size: 24px;
	color: #999;
	margin:7px auto;
	margin-bottom:0;
	padding-bottom: 0;
	text-align:center;
}


.container {
	width: 65%;
	margin: auto;
	margin-top: 50px;
	text-align: center;
}

.container.rules-container {
	text-align: left;
	background-color: #F2F2F2;
	/*background-color: rgba(128,128,128,0.2);*/
	border-radius: 7px;
	padding: 10px 25px;
	margin: 20px auto;
}
.container.rules-container a {
	color: blue;
}
.container.rules-container ol {
	list-style-type: decimal;
	margin: 10px 0px;
}
.container.rules-container ol  li{
	font-size: 18px;
}
.container.rules-container h2 {
	font-size: 28px;
	margin: 15px;
	text-transform: uppercase;
}
.container.rules-container p {
	font-size: 18px;
	margin: 15px 0px;
}
.container.rules-container p.bold {
	font-weight: bold;
}

.container .comments {
	margin-top: 70px;
		
}

.container .rant-box {
	padding:14px;
	border-radius:7px;
	width: 80%;
	text-align: left;
	margin: 30px auto;
	color: #000;
	cursor: pointer;
	border: 2px solid rgba(0,0,0,0);
	/*box-shadow: 5px 5px 5px rgba(0,0,0,0.1);*/
}

.container .rant-box:hover{
	box-shadow: 3px 3px 3px rgba(100,100,100,0.1);
}

.container .rant-box-f {
	font-size: 16px;
	text-align:right;
	width: 100%;
	font-style: oblique;
	font-weight: bold;
	
}

.container .comments .comment-box {
	padding:14px;
	border-radius:7px;
	width: 60%;
	text-align: left;
	margin: 20px auto;
	color: #000;
}

.container .btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  padding: 10px 25px 10px 25px;
  border: solid #8f8f8f 1px;
  text-decoration: none;
  display: inline-block;
}

.container .btn:hover {
  background: #cccccc;
  text-decoration: none;
  cursor: pointer;
}

.container .btn:focus {
	outline: 0;
}

.container .btn:active {
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

textarea#text {
	width: 75%; 
	font-size: 17px; 
	padding:10px; 
	display:inline-block;
	margin: auto;
	vertical-align: middle;
	border-radius:10px;
	
	resize: vertical; 
}

textarea#text:focus {
	outline: 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

#not-found-msg {
	font-size: 25px;
	margin: 30px;
	font-weight: bold;
	
}

#not-found-msg a {
	color: #333;
	font-size: 25px;
	text-decoration: underline;
}



/* #################### */
/* ###### FOOTER ###### */
/* #################### */ 

.footer {
	position: absolute;
	bottom: 0;
	margin: 20px auto;
	margin-top:80px;
	text-align: center;
	width: 100%;
}
.footer nav {
	font-size: 12px;
}
.footer nav a{
	font-size: 14px;
	padding: 0px 5px;
}
.footer span {
	font-size: 14px;
	padding:5px;
}